.lenguageList{
    width: 100%;
    margin: 4rem 0;
    overflow: hidden;
    &__content{
        width: 100%;
        transform: translateX(0) translateY(0) translateZ(0);
        animation: scrollx 30s linear infinite;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        & img{
            width: max-content;
            opacity: .3;
            height: 50px;
        }
    }
}

@keyframes scrollx {
    0% {
        transform: translateX(0) translateY(0) translateZ(0);
    }
    100% {
        transform: translateX(calc(-100% - 50rem)) translateY(0) translateZ(0);
    }
}