.presentation{
    &__img{
        width: 250px;
        height: 250px;
        display: block;
        margin: 0 auto;
    }
    &__tit{
        font-family: 'MonserratSemiBold';
        font-size: 3.5em;
        line-height: 1.35;
        color: #dbdbdb;
        & span{
            display: inline-block;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(#fff, #858585);
            -webkit-background-clip: text; 
            background-clip: text;
            &:nth-child(1):hover{
                font-family: 'MonserratRegular';
            }
        }
        &__boxTextAnimation{
            display: inline-block;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(#fff, #858585);
            -webkit-background-clip: text; 
            background-clip: text;
        }
        &__barWrite{
            display: inline-block;
            width: 3px;
            height: 46px;
            margin-left: 5px;
            background-color: #dbdbdb;
            transform: rotateZ(10deg);
            animation: animationbarra 1s ease infinite;
        }
    }
}

@keyframes animationbarra {
    50%{
        height: 30px;
    }
}