@import url('./nav.css');
@import url('./contentMain.css');
@import url('./presentation.css');
@import url('./lenguageList.css');
@import url('./proyects.css');
@import url('./postDescription.css');
@import url('./status.css');
@import url('./footer.css');

@font-face {
  font-family: 'SairaBold';
  src: url('../media/font/Saira_Semi_Condensed/SairaSemiCondensed-Bold.ttf');
}

@font-face {
  font-family: 'SairaSemiBold';
  src: url('../media/font/Saira_Semi_Condensed/SairaSemiCondensed-SemiBold.ttf');
}

@font-face {
  font-family: 'SairaMedium';
  src: url('../media/font/Saira_Semi_Condensed/SairaSemiCondensed-Medium.ttf');
}

@font-face {
  font-family: 'SairaThin';
  src: url('../media/font/Saira_Semi_Condensed/SairaSemiCondensed-Thin.ttf');
}

@font-face {
  font-family: 'MonserratRegular';
  src: url('../media/font/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'SairaRegular';
  src: url('../media/font/Saira_Semi_Condensed/SairaSemiCondensed-Regular.ttf');
}

@font-face {
  font-family: 'ProtestRegular';
  src: url('../media/font/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf');
}

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background: #0b0d0f;
}